$z-index: (
    blackBack: 50,
    modal:60,

);
$white: #fff;
$gray: #9b9b9b;

.blackBack{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width:100%;
    height:100%;
    top:0%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: map-get($z-index, blackBack)
}

#modal{
    color:white;
    font-size:12;
    background-color:rgba(skyblue, 0.8);
    display:block;
    opacity:1;
    width:250px;
    z-index: map-get($z-index, modal);
    border-radius: 50px;

}

#modal>*>*{
    display:block;
    margin:auto;
    
}

.Time{
    padding-left:20%;
    padding-right:20%;
}

#minutes{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s, color 0.2s;
}

#minutes:focus{
    border-bottom: 2px solid red;
    color:red;
}

#Close{
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border: 0;
    border-style: none;
    font-size:1.4rem;
    background-color: #00b3b4;
    background-image: radial-gradient(circle at center, #9198e5, #00b3b4);
    border: inset 2px lightgreen;

}

#Close:hover{
    color:yellowgreen;
    border: groove 2px lightgreen;
}