.Background{
    height:100%;
    width:100%;
    text-align:center;
    padding-top:20%;

}
.Container{
    width:500px;
    padding: 10px;
    margin:0 auto;

}

.SVGContainer{
    display:inline-block;
    padding: 0 1em 0 1em;
}


svg{
    x:0px;
    y:0px;
    viewBox:0 0 512 512;
    width:30;
    fill:purple;
}

svg:hover{
    fill:blue;
}